.profilePicture div {
    
    padding: 10px;
    padding-top: 0vh;
    
}

.pictureOfme {
    order: 1;  
}
img {
    height: auto;
    width: 300px;
}
.myName {
    order: 2;
    text-align: center;
}

.myInfo {
    border: 1px #ccc solid;
    padding: 10px;
}

html {
    /*background-color: rgb(56, 56, 255);*/
    background-image: radial-gradient(circle,  rgb(148, 164, 255), rgb(56, 56, 255));
   /* background-image: linear-gradient(rgb(56, 56, 255), white); */
    font-family: sans-serif;
    height: 100vh;
}

body {
    
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 1%;
    margin:6% 22%;
    width: 55vw;
    height: auto;
    
}
.foreground {
    display: flex;
}

.contactDetails{
    display: flex;
    justify-content: space-around;

    
}
.contactDetails img{
    padding-top: 4vh;
    height: auto;
    width: 3.5vw;
}

.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    padding: 5px;
    
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 15px;
    background: #e2e2e2;
    font-weight: bold;
    justify-content: space-around;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;

}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}

.mytabs .tab img {
    width: 10vw;
    height: auto;
}

.cse {
    margin: 0%
}